body {
    display: grid;
    margin: 0;
    padding: 0.5rem;
}

.toolbar {
    display: flex;
    background: skyblue;
    margin: -0.5rem;
    padding: 0.5rem;
}

.toolbar button {
    padding: 0.5rem 1rem;
}
